


/*第一版*/
#content{width:1200px;height: 645px;padding: 55px 110px 28px 0; box-sizing: border-box;}
#contentlf{width: 670px;height: 560px;border: 1px solid #d9d9d9;float:left;}
#contentlf img{width:100%;height:100%;}
#contentfr{width: 416px;height: 560px;padding-left: 64px;box-sizing: border-box;float:left;}
#firstbox{width: 350px;height: 130px;padding:24px 0 18px 0;box-sizing: border-box;}
#firstbox_h{font-size: 36px;font-family: "华文细黑";color:#666;}
#firstbox_txt{line-height: 80px;}
#firstbox_txt_s1{font-size: 20px; font-family: "华文细黑";margin-right: 18px;}
#firstbox_txt_s2{color:#ed2122;}
#firstbox_txt_e{font-size: 36px; font-family: "华文细黑";font-style: normal;}
#lastbox{width: 350px;height: 430px;}
#lastbox_up{width: 350px;height: 84px;}
#lastbox_p{height: 30px;font-size: 20px; font-family: "华文细黑";}
#lastbox_firstleft,#lastbox_firstright,#lastbox_firstleft2{width: 150px;height: 40px;background: #f5f5f5;border-radius: 5px;border: 1px solid #d3d3d3;font-family: "华文细黑";font-size: 18px;text-align: center;line-height: 40px;margin-left: 10px;cursor: pointer;}
#lastbox_firstright{border: 1px solid #ef7319;margin-left: 30px;cursor: pointer;}
#lastbox_mid{width: 350px;height:152px;}
#lastbox_firstleft2{margin-top: 15px;}
#lastbox_three{width: 350px;height:45px;line-height:45px;}
#lastbox_three_p{display:inline-block;float: left;height: 42px;font-size: 20px; font-family: "华文细黑";margin-right: 20px;}
#lastbox_threefirst,#lastbox_threethree{width: 20px;height: 20px;border: 1px solid #d3d3d3;font-family: "华文细黑";color:#000;font-size: 16px;float: left;border-radius: 2px;background:#f5f5f5;text-align: center;line-height:16px;cursor: pointer;margin-top: 11px;}
#lastbox_threetwo{width: 42px;height: 42px;border: 1px solid #d3d3d3;float: left;border-radius: 5px;background:#f5f5f5;text-align: center;line-height: 42px;cursor: pointer;margin:0 10px;}
#lastbox_three_txt{display:inline-block;float: left;height: 42px;font-size: 20px; font-family: "华文细黑";margin-left:34px;}
#lastbox_four{padding-top: 45px;box-sizing: border-box;}
#lastbox_four_one{width: 130px;height: 40px;background: #c40001;border-radius: 5px;border: 1px solid #c40001;font-family: "华文细黑";font-size: 18px;text-align: center;line-height: 40px;margin-left:15px;color:#fff;cursor: pointer;}
#lastbox_four_two{width: 130px;height: 40px;background: #f5f5f5;border-radius: 5px;border: 1px solid #ef7417;font-family: "华文细黑";font-size: 18px;text-align: center;line-height: 40px;margin-left:25px;color:#ed7419;cursor: pointer;}

/*详细信息*/
#information{width: 1200px;height:724px;line-height: 40px;}
#information_txt{font-family: "华文细黑";font-size: 30px;border-bottom: 2px solid #cbcbcb;color:#000;font-weight: normal;position: relative;}

#line{height: 2px;width: 130px;border-bottom: 2px solid #ed7419;position: absolute;bottom:-2px;left: 0;}
#more{width: 1200px;height: 686px;text-align: center;background:#fff;position: relative;}
#more_tu{width: 1200px;height: 656px;}
#information_img{width: 100%;height: 100%;}
#understand{font-family: "华文细黑";font-size: 24px;color:#ee7419;position: absolute;left:46%;top:20%;cursor: pointer;}

/*轮播图*/
#banner{ position: relative; width:1920px; height:884px; overflow: hidden;background:#fc684e;}
    #banner .pic{ position:relative; z-index:0; }
    #banner .pic img { width:1920px; height:884px; display: block; }
    #banner .hd { width:100%; position: absolute; bottom: 10px; text-align: center;z-index:1; }
    #banner .hd li{margin: 0 5px; background:#ffb884; height: 12px; overflow: hidden; width: 12px; cursor: pointer;
        display:inline-block; *display:inline; zoom:1;  _background:#ffb884;border-radius: 100%;}
    #banner .hd .on{ background:#ff4200; }

    #banner .prev, #banner .next { width: 80px; height:126px;  display: none; background: url(../img/left_p.png) no-repeat 0 0; position: absolute; top: 50%; z-index: 10; cursor: pointer; text-indent: -9999px; filter:alpha(opacity=20);opacity:0.2;  }
    #banner .prev { left: 260px; }
    #banner .next {background: url(../img/right_p.png) no-repeat 0 0;right:260px; }
    #banner .prev:hover{background-image:url(../img/left.png);}
    #banner .next:hover { background-image:url(../img/right.png) ;}

#canshu{width: 1200px;height: 200px;border-bottom: 1px solid ##c6c6c6;text-align: center;line-height: 200px;}
#canshu_txt{font-size:48px;color:#000;font-weight: normal;
    font-family: "华文细黑";}
#canshu_m{width: 1200px;height: 306px;}
#canshu_img{width: 100%;height: 100%;}
#web{width: 1200px;height: 135px;}
#web_txt{overflow: hidden;width: 1200px;height: 88px;padding-top: 34px;box-sizing: border-box;}
#web_txt1,#web_txt2,#web_txt3{width: 194px;height: 88px;float: left;}
#web_txt1{font-size: 20px;color:#000;padding-left:40px;box-sizing: border-box;}
#web_txt2{font-size: 16px;color:#6d6968;font-weight:bold;font-family: "微软雅黑";}
#web_txt3{font-size: 16px;color:#6d6968;font-weight:bold;font-family: "微软雅黑";}
#web_txt4{padding-left:196px;font-size: 16px;color:#6d6968;font-weight:bold;font-family: "微软雅黑";}


/*返回到顶部*/
.scroll_top{width: 54px;height: 72px;position:fixed;bottom:54px;right:250px;background:url(../img/top_p.png) no-repeat scroll 0 0 transparent;cursor: pointer;z-index: 1000;display:none;}

