/* 基于 根字号 25px */
#choice {
  margin: 0 auto;
  color: #000;
  font-size: 0.56rem;
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
  max-width: 1000px;
  background-color: #dfdfdf;
}
.choice_header {
  height: 3.44rem;
  color: #1fa7e3;
  font-size: 1.2rem;
  line-height: 3.44rem;
  background-color: #fff;
  text-align: center;
}
.choice_content {
  background-color: #dfdfdf;
  overflow-x: hidden;
  position: relative;
  padding: 0 1.04rem;
}
.button {
  text-align: center;
  cursor: pointer;
  border-radius: 3px;
  text-indent: 0px;
  margin: 0.12rem 0;
  padding: 0.2rem 0;
  display: block;
  color: #FFF;
}
.btn-gary {
  background-color: #aeaeae;
  width: 100%;
  font-size: 0.88rem;
  border: none !important;
  color: #fff;
}
.btn-blue {
  background-color: #1AB2E8;
  width: 100%;
  font-size: 0.88rem;
  border: none !important;
  color: #fff;
}
.startbut {
  margin-top: 4rem;
  text-align: center;
}
.startbut input {
  height: 2.48rem;
  font-size: 1.28rem;
  cursor: pointer;
}
.choice_content ul {
  margin-top: 1.6rem;
  text-align: center;
}
.choice_content ul li {
  background-color: #fff;
  border: 1px solid #d4d4d4;
  height: 3rem;
  line-height: 3rem;
  margin: 0 0.6rem;
  text-align: center;
  width: 5rem;
  display: inline-block;
  margin-top: 1.2rem;
  cursor: pointer;
}
.choice_content ul li a {
  font-size: 0.64rem;
}
