/* 基于 根字号 25px */
#navigation {
  margin: 0 auto;
  color: #000;
  font-size: 0.56rem;
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
  max-width: 1000px;
  background-color: #dfdfdf;
}
.nag_header {
  height: 3.44rem;
  color: #000;
  font-size: 1.2rem;
  line-height: 3.44rem;
  background-color: #dfdfdf;
  text-align: center;
  font-weight: bold;
}
.nag_content {
  background-color: #dfdfdf;
  position: relative;
  padding: 0 1.04rem;
}
.button {
  text-align: center;
  cursor: pointer;
  border-radius: 3px;
  text-indent: 0px;
  margin: 0.12rem 0;
  padding: 0.2rem 0;
  display: block;
  color: #FFF;
}
.btn-blue {
  background-color: #1AB2E8;
  width: 100%;
  font-size: 0.88rem;
  border: none !important;
  color: #fff;
  box-shadow: 0 1px rgba(0, 0, 0, 0.3);
}
.nav_btn {
  text-align: center;
}
.nav_btn input {
  height: 2.48rem;
  font-size: 1.28rem;
  cursor: pointer;
}
.nag_content > input {
  border: 1px solid #d4d4d4;
  border-radius: 0.2rem;
  font-size: 0.88rem;
  height: 2.8rem;
  line-height: 2.8rem;
  margin-bottom: 1.6rem;
  width: 100%;
  box-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  color: #acacae;
  font-family: "Microsoft Yahei";
}
.nag_content div:nth-of-type(1) {
  width: 1.48rem;
  height: 1.48rem;
  background-image: url("../image/search.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: absolute;
  top: 0.64rem;
  left: 2.8rem;
}
